# Dependencias
/node_modules

# Archivos de entorno
.env

# Archivos de configuración sensibles
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metadatos del editor
.vscode/
.idea/
